services:
  nocodb:
    image: nocodb/nocodb:latest
    container_name: nc
    restart: always
    env_file:
      - .env
    volumes: 
      - "nocodb_data:/usr/app/data"
    networks:
      - internal_network
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "0.5"

volumes:
  nocodb_data:
    driver: local

networks:
  internal_network:
    external: true